# Ignore Python cache / build stuff
__pycache__/
*.py[cod]
*.egg-info/
*.eggs/
build/
dist/
.env
.venv

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# IDE/editor configs
.vscode/
.idea/

# Data lake layers
bronze/
silver/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
